@model IEnumerable<concert.Models.Place>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout - Copy.cshtml";
}

<h2 style="color:blueviolet">ชื่อสถานที่จัดแสดง</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NamePlace)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.District.NameDistrict)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NamePlace)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.District.NameDistrict)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IDPlace }) |
                @Html.ActionLink("Details", "Details", new { id = item.IDPlace }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IDPlace })
            </td>
        </tr>
    }

</table>
