@model concert.Models.Order

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.O_IDUSer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.O_IDUSer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.O_TotalPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.O_TotalPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.O_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.O_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusOrder.StatusName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusOrder.StatusName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrderID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
