@model IEnumerable<concert.Models.Order>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.O_IDUSer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.O_TotalPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.O_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusOrder.StatusName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.O_IDUSer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.O_TotalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.O_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusOrder.StatusName)
            </td>
            <td>
                @if (item.O_SatatusID == 2)
                {

                    @Html.ActionLink("ชำระเงิน", "Edit", null, new { id = item.OrderID }, new { @class = "btn btn-warning" })
                }
               | @Html.ActionLink("Details", "Details", new { id = item.OrderID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.OrderID })
            </td>
        </tr>
    }

</table>
